/* =======================
BROWSER SUPPORT
=========================*/

#browserSupportWarning {
  display:none;
}
#browserSupportWarning .close {
  float: right;
  margin: -2px 0px 0px 0px;
  padding: 0;
  color:#333;
  opacity: 0.8;
  text-shadow: none;
  font-size: 13px;
  opacity: 0.87;
}

#browserSupportWarning .close:hover {
  background-color: rgba(255,255,255,0.1);
  color:#333;
  opacity: 1;
}

#browserSupportWarning .close i {
  padding: 0;
  margin:0;
  font-size:22px;
  line-height:1;
}

#browserSupportWarning .close span {
  display: block;
  margin-top: -1px;
  margin-left: -1px;
}
