/* =======================
FONTS
=========================*/

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../../assets/fonts/open-sans/OpenSans-Light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('../../assets/fonts/open-sans/OpenSans-Light-Italic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../../assets/fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../../assets/fonts/open-sans/OpenSans-Regular-Italic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../../assets/fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url('../../assets/fonts/open-sans/OpenSans-Semibold-Italic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../../assets/fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../../assets/fonts/open-sans/OpenSans-Bold-Italic-webfont.woff') format('woff');
}

@font-face{
  font-family: 'thinkFontio';
  src: url('../../assets/fonts/iaf-custom/thinkFont.woff') format('truetype');
}
