<div class="container">
  <h3>Angular FormArray Example</h3>
  <form [formGroup] = "angForm" (ngSubmit)="onFormSubmit()">
    <div formArrayName="names">
      <div *ngFor="let name of names.controls; index as idx" class="form-group">
        <input [formControlName]="idx" placeholder="Enter a Name" class="form-control">
        <label *ngIf="name.invalid" [ngClass] = "'error'"> Name is required. </label>
        <button type="button" (click)="addNameField()" class="btn btn-success" [ngClass] = "'pad'">Add More Names</button>
        <button (click)="deleteNameField(idx)" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
  </div>
